/*------Inicio Geral-----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1971c2;
  --headline: #212529;
  --paragraph: #495057;
  --brend-color: #d0ebff;
  --bg-light: #f7f9f9;

  --nav-height: 7.2rem;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

.wrapper {
  width: min(50rem, 95%);
  margin-inline: auto;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

section {
  padding-block: 10rem;
}

/*------Fim Geral-----------*/

/*-------Inicio home----------*/

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(72% + var(--nav-height));
  background: var(--brend-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: var(--primary-color);
}

#home h1 {
  margin-bottom: 2.4rem;
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home a.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;
  height: 5.2rem;
  width: 26.3rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-inline: auto;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

#home a.btn-primary:hover,
#contact button:hover {
  background-color: #001d45;
}

#home .header-picture {
  width: 25rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home div.stat > h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 0.4rem;
}

#home .complement-text {
  margin: 0;
  font-weight: 400;
  line-height: 150%;
  color: var(--primary-color);
}

#home .stats {
  padding-block: 4rem;
  margin-top: 0;
  width: 85%;
  margin-inline: auto;
  background: #fffaf1;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--brend-color);
}

/*-------Fim Home----------*/

/*-------Inicio Navigation----------*/

nav {
  height: var(--nav-height);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav.scroll .logo path {
  fill: #fff;
}

nav.scroll button path {
  stroke: #fff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*-------Fim Navigation----------*/

/*-------Inicio Menu-expended----------*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu .primary-button {
  background: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
  transition: 0.5s;
}

.menu .primary-button:hover {
  background-color: #3b8ddb;
  color: #fff;
}

.menu .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 200;
}

body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded .logo path,
body.menu-expanded nav button path {
  stroke: #fff;
}

.close-menu {
  position: fixed;
}

/*-------Fim Menu-expended----------*/

/*-------Inicio services----------*/

#services header > h4,
#about header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#services header h2,
#about header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  margin-inline: auto;
  width: 85%;
  padding: 2.4rem;
  background-color: #fff;
  text-align: left;
  border: 1px solid #dce9e2;
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*-------Fim services----------*/

/*-------Inicio about----------*/

#about {
  background-color: #fffaf1;
}

#about .content {
  text-align: left;
  gap: 1.6rem;
}

#about img {
  margin-inline: auto;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
  line-height: 150%;
  color: var(--paragraph);
}

/*-------Fim about----------*/

/*-------Inicio contact----------*/

#contact .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contact .btn-in-left {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;
  height: 5.2rem;
  width: 26.3rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  transition: 0.5s;
  margin-top: 1.2rem;
  text-decoration: none;
  transition: 0.5s;
}

#contact .btn-in-left:hover {
  background-color: #0a4378;
}

#contact h2 {
  margin-bottom: 3.2rem;
}

#contact .text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#contact .img {
  margin-inline: auto;
  width: 85%;
}

/*-------Fim contact----------*/

/*-------Inicio Footer----------*/

footer {
  background-color: var(--primary-color);
  height: 28.5rem;
}

footer .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer svg {
  margin-top: 6rem;
  height: 3.1rem;
  width: 23.6rem;
  margin-bottom: 2.4rem;
}

footer p {
  color: #fff;
  margin-bottom: 1.2rem;
}

footer .social-links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3.2rem;
  margin-top: 2.4rem;
}

/*-------Fim Footer----------*/

/*Back to top button*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0.5;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

/*------Responsivo----------*/

@media (min-width: 1024px) {
  /*-----------geral-------------*/

  .wrapper {
    min-width: min(102.4rem, 100%);
    display: grid;
  }

  body {
    overflow: auto;
  }

  section {
    padding-block: 8rem;
  }

  section h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  /*-----------Navigation------------*/

  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-size: initial;
    font-weight: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation a.logo {
    margin-left: 24px;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56.8%;
    margin-right: 3.6rem;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brend-color);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu ul li a {
    transition: opacity 0.4s;
  }

  nav#navigation.scroll .menu a.primary-button {
    border-color: #fff;
    color: #fff;
  }

  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation.scroll .menu li a:hover,
  nav#navigation.scroll .menu li a.active {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    left: -1rem;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    bottom: -2rem;
    transition: 0.2s;
    filter: initial;
  }

  nav#navigation.scroll .menu li a::after,
  nav#navigation.scroll .menu li a.active::after {
    background-color: #fff;
  }

  nav#navigation .menu li a:hover::after,
  nav#navigation .menu li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation .menu a.primary-button:hover {
    background-color: #3b8ddb;
    border: none;
    color: #fff;
  }

  nav#navigation.scroll .menu a.primary-button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    color: #fff;
    border: none;
  }

  /*----------Home------------*/

  #home::before {
    height: calc(86% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    grid-area: A;
    text-align: left;
    margin-left: 50px;
    align-self: center;
  }

  #home .col-b {
    grid-area: B;
    margin-right: 32px;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home p {
    font-size: 1.8rem;
  }

  #home .stats {
    width: 90%;
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  section#home a#secondButton.btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 5.2rem;
    width: 26.3rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    transition: 0.5s;
    margin-top: 1.2rem;
    margin-left: 8px;
    text-decoration: none;
    transition: 0.5s;
  }

  section#home a#secondButton.btn-primary:hover {
    background-color: #0a4378;
  }

  #home .header-picture {
    width: 42rem;
  }

  /*----------Services------------*/

  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /*----------About------------*/

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  #about img {
    width: 94%;
  }

  /*--------Contact--------------*/

  #contact .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  /*---------Footer------------*/

  footer .wrapper {
    padding-top: 3;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 'A B';
  }

  footer p {
    margin-bottom: 0;
  }

  footer .col-a {
    align-self: left;
  }

  footer .col-b {
    margin: 0;
    align-self: center;
    justify-content: flex-end;
  }
}
